/* div {
    margin: auto;
} */



#mypopover::backdrop {
    background-color: #847bbe67;
    backdrop-filter: blur(10px);
}

#mypopover:popover-open {
    background-color: red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}