*,
*::before,
*::after {
    box-sizing: border-box;
    scrollbar-width: none;
}

* {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    border-width: 0;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    background-size: contain;
}

html {
    max-width: 100%;
}

body {
    /* line-height: 1.5; */
    -webkit-font-smoothing: antialiased;

    /* width: 100vw; */
    width: 100%;
    /* Устанавливает ширину элемента в 100% от родительского контейнера */
    margin: 0;
    /* Удаляет внешние отступы */
    padding: 0;
    /* Удаляет внутренние отступы */
    box-sizing: border-box;
    /* overflow-x: hidden; */

}

/*  CSS RESET SCTION END */
/*  *************************** */

:root {
    --red: #F54932;
    --blue: #3057A2;
    --white: #FFFFFF;
    --yellow: #FBCE51;
    --gray: #D6D6D6;
    --lightbrown: #E9DED4;
    --table_gray: #313131;
    --black: #1F1F1F;

    --whitet: rgba(255, 255, 255, 0.9);

    --padding-left: 5%;
}

@font-face {
    font-family: M;
    src: url(https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap);
}

h1 {
    text-transform: uppercase;
    font-family: "Merriweather", serif;
    font-weight: 300;
}


.nav {
    height: 36px;
    /* padding-bottom: 62px; */
    margin-bottom: 62px;
}


header {
    /* min-width: 375px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    background-image: url('img/1920.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;

    /* padding: 26px 0 132px 72px; */
}

.inner__header {
    margin: 26px 0 132px 72px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */

    width: 542px;
    max-height: 483px;
}

.pmiddle {
    height: 46px;
    font-family: 'GolosText';
    text-align: center;
    font-size: 18px;
    line-height: 130%;
    margin-top: 24px;
    margin-bottom: 40px;
}

.inner__header>h1 {
    font-size: 60px;
    height: 132px;
    line-height: 110%;
    margin: 0;
}

.h1top {
    align-self: flex-start;
}

.h1bot {
    align-self: flex-end;
}

.header__button_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 72px;
    gap: 16px;
}


.header_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 263px;
    height: 72px;
    border: 2px solid var(--black);
    border-radius: 66px;
    font-size: 16px;
    font-family: 'GolosText' medium;

    padding: 20px 49px 20px 49px;
}

.header_button:nth-child(2) {
    padding: 20px 86px 20px 86px;
}

.header_button p {
    font-size: 16px;
    width: 165px;
    line-height: 130%;
}

.header_button:hover {
    color: var(--black);
    background-color: var(--yellow);
    border: 2px solid transparent;
}

.header_button:nth-child(2):hover {
    color: var(--white);
    background-color: var(--black);
    border: 2px solid transparent;
}

header button:nth-child(1) {
    color: var(--white);
    background-color: var(--black);
}

header button:nth-child(2) {
    color: var(--black);
    background-color: transparent;
}


.tablo {
    padding: 18px 0;
    /* overflow-inline: hidden; */
    overflow-x: hidden;
    color: var(--white);
    background-color: var(--red);
}

.anim {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    width: 100%;
}

.tablo h1 {
    font-family: M;
    line-height: 110%;
    text-align: center;
    font-size: 22px;
}

.dot {
    margin: 0 12px;
    border: 3px solid var(--white);
    background-color: var(--white);
    border-radius: 50%;
    align-self: center;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

main {
    width: 100%;
    /* padding: 0 72px 0 72px; */
}

.inner__main {
    height: 100%;
    padding: 0 72px 0 72px;
}

.block1 {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* width: 100%; */
    /* position: relative; */
    margin: 80px 0 64px 0;
    align-items: center;
    font-size: 36px;
    text-transform: uppercase;
}

.block1 p {
    height: 195px;
    max-width: 764px;
}

.oval {
    width: 394px;
    height: 250px;
    /* height: 25%; */
    /* float: left; */
    border-radius: 50%;
    shape-outside: ellipse();
    /* padding: 10px; */
    background-image: url('img/many_chees_players_tournament_old_black_and_white_photo_seed-0ts-1705919932_idx-01.png');
    background-position: center;
    padding: 0;
}

.hide2,
.hide3 {
    display: none;
}

.block2 {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-bottom: 200px;
    gap: 0 44px;
    justify-content: center;
}

.block2__img {
    width: 472px;
    height: 527px;
    background-image: url('img/Frame\ 48095654.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.block2 h1 {
    font-size: 36px;
    max-width: 704px;
    max-height: 147px;
    /* margin-bottom: 60px; */
}

.block2__data {
    display: flex;
    flex-direction: column;
    gap: 55px;
    width: 704px;
    height: 527px;
    justify-content: space-around;
}

.block2 table {
    width: 100%;
    /* max-width: 704px; */
    /* max-height: 248px; */
    border-collapse: collapse;
    font-size: 20px;
}

.block2 table td,
.block2 table th {
    align-items: center;
}

.block2 table td,
table th {
    border: 1px solid black;
    border-top: 0;
}

.block2 table td {
    color: var(--table_gray);
}

.block2 table span {
    text-decoration: 1px var(--red) line-through;
}

.block2 table tr:first-child th {
    border-top: 0;
}

.block2 table tr:last-child td {
    border-bottom: 0;
}

.block2 table tr:last-child th {
    border-bottom: 0;
}

.block2 table tr td:first-child,
.block2 table tr th:first-child {
    border-left: 0;
}

.block2 table tr td:last-child,
.block2 table tr th:last-child {
    border-right: 0;
}

.block3 {
    display: flex;
    flex-direction: column;
    gap: 54px;
    margin-bottom: 200px;
    overflow-x: hidden;
}

.block3>div>h1 .small_link {
    display: block;
}

.block3>div .small_link {
    display: none;
}

.plates {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    height: 400px;
}

.plate {
    display: flex;
    font-size: 20px;
    font-family: "Merriweather", medium;
    background-color: var(--lightbrown);
    padding: 20px;
    min-width: 335px;
}

.plate p {
    line-height: 120%;
    font-size: 18px;
}

.plate:nth-child(7) {
    grid-column: span 2;
}

.plate:nth-child(3) {
    grid-row: span 2;
}


.plate img {
    width: 36px;
    height: 36px;
}



.carusel {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* width: 100%; */
    margin-bottom: 140px;
}

.carusel__navbar {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    margin-bottom: 60px;
}

.carusel__navbar h1 {
    font-size: 54px;
}

.show_carusel_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.show_carusel_buttons button {
    width: 44px;
    height: 44px;
    background-image: url(img/carousel\ button\ default.png);
}

.show_carusel_buttons button:hover {
    background-image: url(img/carousel\ button\ hover.png);
}

.show_carusel_buttons button:disabled {
    background-image: url(img/carousel\ button\ disabled.png);
}

.show_carusel_buttons button:nth-child(1) {
    transform: rotateY(180deg);
}

.show_carusel_buttons p {
    width: 35px;
    line-height: 120%;
}

.carusel__items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 0;
}

.show_carusel_buttons:nth-child(1) {
    display: none;
}


.profile_card {
    width: 394px;
    height: 462px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0 37px 0 37px; */
}


.profile_card h2 {
    font-size: 24px;

    margin-top: 28px;
    margin-bottom: 6px;
}

.profile_card p {
    color: var(--gray);
    font-size: 20px;
}

.profile_card button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 35px;
    color: var(--blue);
    line-height: 120%;
    font-size: 16px;
    padding: 11px 11px 11px 11px;
    text-align: center;
    border: 1px solid var(--blue);
    border-radius: 20px;
    background-color: transparent;

    margin-top: 20px;
}

.profile_card button:hover {
    width: 113px;
    height: 35px;
    color: var(--white);
    font-size: 16px;
    text-align: center;
    border: 1px solid var(--blue);
    border-radius: 20px;
    background-color: var(--blue);
}

.profile_card img {
    width: 320px;
    height: 320px;
}


.span_red {
    color: #F54932;
}

.small_link {
    text-transform: none;
    font-size: 20px;
}

footer {
    display: block;
    flex-direction: row;
    justify-content: center;
    background-color: var(--lightbrown);
    background-repeat: repeat;
    background-size: cover;
    background-position-x: center;

    height: 150px;
    text-align: center;
    padding: 40px 72px 72px 72px;
}

footer p {
    word-break: normal;
    /* width: 1222px;
    height: 38px; */
}



@media screen and (max-width: 850px) {

    header {
        /* width: 375px; */
        height: 774px;
        width: 100%;
        background-image: url('img/main\ screen.png');
        background-size: 100% calc(100% + 38px);
    }

    .nav {
        min-height: 36px;
        margin-bottom: 40px;
    }

    .inner__header img {
        max-width: 213px;
        max-height: 32px;
        padding: 0;
        margin: 0;
    }

    .inner__header {
        /* width: 100%; */
        width: 375px;
        padding: 18px 20px 0 18px;
        margin: 0;
    }

    .inner__header>h1 {
        font-size: 36px;
        height: 80px;
        line-height: 110%;
    }

    .pmiddle {
        width: 335px;
        height: 69px;
        font-family: 'GolosText';
        text-align: left;
        font-size: 18px;
        line-height: 130%;
        margin-top: 24px;
        margin-bottom: 32px;
        word-break: normal;
    }

    .inner__main {
        /* width: 100vw; */
        padding: 0 19px 0 21px;
    }

    .header__button_container {
        gap: 14px;
    }

    .header_button {
        text-align: center;
        width: 335px;
        height: 47px;
        padding: 18px 43px 18px 43px;
        border: 0;
        border-radius: 20px;
    }

    .header_button:nth-child(2) {
        /* padding: 18px 81px 18px 81px; */
        /* margin-top: 50px; */
        width: 335px;
        padding: 0;
        border-radius: 20px;
    }

    .header_button:hover {
        border: 0;
    }

    .header_button p {
        width: 249px;
        line-height: 130%;
    }

    .header_button:nth-child(2) {
        color: var(--black);
        background-color: var(--whitet);
    }

    .tablo {
        max-height: 38px;
        padding: 10px 0;
    }

    .anim {
        max-height: 18px;
    }

    .tablo h1 {
        font-family: M;
        line-height: 110%;
        text-align: center;
        font-size: 16px;
    }


    .block1 {
        flex-direction: column;
        margin-top: 48px;
        margin-bottom: 34px;
    }

    .oval {
        width: 335px;
        height: 212.57px;
        margin-top: 24px;
        margin-bottom: 24.44px;
    }

    .block1 p {
        font-size: 28px;
        /* max-width: 335px; */
        max-height: 152px
    }

    .hide1 {
        display: none;
    }

    .hide2,
    .hide3 {
        font-size: 28px;
        line-height: 135%;
        max-height: 152px;
        display: block;
    }

    .block2 {
        min-height: 1174px;
        gap: 0;
        justify-content: flex-start;
        margin-bottom: 120px;
    }

    .block2__data {
        min-height: 748px;
        width: 335px;
        justify-content: space-between;
        gap: 44px;
        margin: 0;
    }

    .block2 h1 {
        font-size: 28px;
        min-height: 228px;
        line-height: 135%;
    }


    .block2__img {
        width: 335px;
        height: 402px;
        margin-bottom: 24px;
        /* overflow-x: hidden; */
    }

    .block2__table {
        min-height: 392px;
        margin-bottom: -4px;
    }

    table {
        gap: 0;
        margin: 0;
        padding: 0;
    }

    table tr td {
        line-height: 120%;
    }

    table tr th {
        line-height: 120%;
    }

    tr {
        line-height: 120%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: 1px solid black;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        min-height: 75px;
        gap: 12px;
    }

    tr:not(:nth-child(1)) {
        margin-top: 16px;
    }

    tr:nth-child(4) {
        margin-top: 16px;
        min-height: 40px;
        gap: 25px;
    }

    th:last-child {
        display: flex;
        gap: 12px;
    }

    .block2 table th {
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
        border-left: 0;
        text-align: left;
        /* padding-bottom: 16px; */
        max-height: 76px;
    }

    .block2 table td {
        border-bottom: 1px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        /* padding-top: 16px; */
        /* padding-bottom: 12px; */
    }

    .block2 table tr:first-child {
        padding-top: 0;
    }

    .block2 table tr:last-child {
        border-bottom: 0;
        /* padding-bottom: 12px; */
    }

    .block2 table tr:nth-child(4) {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }



    .block3 {
        display: flex;
        flex-direction: column;
        gap: 0;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        margin-bottom: 120px;
        /* max-height: 668px; */
    }

    .block3>div:nth-child(1) {
        margin-bottom: 148px;
    }

    .block3>div>h1 {
        padding-bottom: 12px;
    }

    .block3>div>h1 .small_link {
        display: none;
    }

    .block3>div .small_link {
        display: block;
    }

    .plates {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0 40px;
        height: 300px;
        grid-auto-flow: column;
    }

    .plate {
        min-height: 88px;
        width: 335px;
        font-size: 18px;
        font-family: "Merriweather", medium;

        display: flex;
        flex-direction: row;
        gap: 16px;
        padding-top: 28px;
    }

    .plate:nth-child(odd) {
        padding-top: 62px;
    }

    .plate:nth-child(4) {
        padding-top: 62px;
    }

    .plate:nth-child(6) {
        padding-top: 62px;
    }

    .plate:nth-child(5) {
        padding-top: 0px;
    }

    .plate:nth-child(7),
    .plate:nth-child(6),
    .plate:nth-child(3) {
        grid-row: span 2;
    }

    .plate:nth-child(1),
    .plate:nth-child(2),
    .plate:nth-child(4),
    .plate:nth-child(5) {
        grid-row: span 1;
    }

    .carusel {
        margin-bottom: 0;
    }

    .block3 .carusel__navbar {
        /* margin-top: 28px; */
        margin-bottom: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* width: 178px; */
        padding: 28px 78px 0 79px;
    }

    .block3 .show_carusel_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* min-width: 178px; */
        width: 100%;
        height: 36px;
        gap: 16px;
    }

    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        width: 74px;
        height: 10px;
        gap: 6px;
    }

    .pagination input[type="radio"]:checked {
        background: #000;
    }

    .pagination input[type="radio"] {
        appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ccc;
        cursor: pointer;
    }

    .block3 .show_carusel_buttons button {
        max-width: 36px;
        height: 36px;
        width: 100%;
    }

    .show_carusel_buttons:nth-child(2) {
        display: none;
    }

    .show_carusel_buttons:nth-child(1) {
        max-height: 36px;
        display: flex;
    }

    .carusel .carusel__navbar h1 {
        line-height: 110%;
        font-size: 36px;
        justify-self: flex-start;
        text-align: left;
    }

    .carusel .carusel__navbar {
        margin-bottom: 40px;
    }

    .carusel__items {
        margin-bottom: 40px;
        gap: 78px;
    }

    .profile_card {
        width: 335px;
        min-width: 335px;
        max-height: 388px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /* padding: 0 25px 0 24px; */
    }

    .profile_card img {
        width: 244px;
        height: 244px;
    }

    .profile_card h2 {
        font-size: 24px;
        line-height: 120%;
        white-space: nowrap;
        margin-top: 28px;
        margin-bottom: 8px;
    }

    .profile_card p {
        line-height: 120%;
        color: var(--gray);
        font-size: 20px;
    }

    .carusel .carusel__navbar:last-child {
        justify-content: center;
        margin-bottom: 100px;
    }

    .carusel .carusel__navbar:last-child .show_carusel_buttons {
        flex-direction: row;
        justify-content: space-between;
        width: 129px;
        height: 36px;
        gap: 0;
    }

    .show_carusel_buttons button {
        width: 36px;
        height: 36px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    footer {
        height: 214px;
        padding: 40px 20px 60px 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }



    /* body {
        overflow-x: hidden;
        width: 100%;
    }

    main {
        width: 100%;
        max-width: 100%;
    } */


}

.tsp {
    content: '';
    position: absolute;

    top: 0;
    left: 0;

    /* height: 100%; */
    background-image: url('img/375.png');
    background-position: top left;
    background-repeat: no-repeat;
    opacity: 0.3;
}