*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    /* line-height: 1.5; */
    -webkit-font-smoothing: antialiased;
    /* width: 100wv; */
    width: 100%;
    height: auto;
}

/*  CSS RESET SCTION END */
/*  *************************** */

:root {
    --red: #F54932;
    --blue: #3057A2;
    --white: #FFFFFF;
    --yellow: #FBCE51;
    --gray: #D6D6D6;
    --lightbrown: #E9DED4;
    --table_gray: #313131;
    --black: #1F1F1F;

    --padding-left: 5%;
}

@font-face {
    font-family: M;
    src: url(https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap);
}

h1 {
    text-transform: uppercase;
    font-family: "Merriweather", serif;
    font-weight: 300;
}

.inner__header {
    margin: 26px 72px 132px 72px;

    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */

    width: 542px;
    height: 542px;
}


.nav {
    height: 36px;
    /* padding-bottom: 62px; */
    margin-bottom: 62px;
}


header {
    min-width: 375px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 700px;
    background-image: url('img/1920.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}


.pmiddle {
    height: 46px;
    font-family: 'GolosText';
    text-align: center;
    font-size: 18px;
    line-height: 130%;
    margin-top: 24px;
    margin-bottom: 40px;
}

.inner__header>h1 {
    font-size: 60px;
    height: 132px;
    line-height: 110%;
}

.h1top {
    align-self: flex-start;
}

.h1bot {
    align-self: flex-end;
}

.header__button_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 72px;
    gap: 16px;
}


.header_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 263px;
    height: 72px;
    border: 2px solid var(--black);
    border-radius: 66px;
    font-size: 16px;
    font-family: 'GolosText' medium;

    padding: 20px 49px 20px 49px;
}

.header_button:nth-child(2) {
    padding: 20px 86px 20px 86px;
}

.header_button p {
    font-size: 16px;
    width: 165px;
    line-height: 130%;
}

.header_button:hover {
    color: var(--black);
    background-color: var(--yellow);
    border: 2px solid transparent;
}

.header_button:nth-child(2):hover {
    color: var(--white);
    background-color: var(--black);
    border: 2px solid transparent;
}

header button:nth-child(1) {
    color: var(--white);
    background-color: var(--black);
}

header button:nth-child(2) {
    color: var(--black);
    background-color: transparent;
}


.tablo {
    padding: 18px 0;
    overflow-inline: hidden;
    color: var(--white);
    background-color: var(--red);
}

.anim {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    width: 100%;
}

.tablo h1 {
    font-family: M;
    line-height: 110%;
    text-align: center;
    font-size: 22px;
}

.dot {
    margin: 0 12px;
    border: 3px solid var(--white);
    background-color: var(--white);
    border-radius: 50%;
    align-self: center;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}

main {
    width: 100vw;
    padding: 0 72px 0 72px;
}


.block1 {
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* width: 100%; */
    /* position: relative; */
    margin: 80px 0 64px 0;
    align-items: center;
    font-size: 36px;
    text-transform: uppercase;
}

.block1 p {
    height: 195px;
    width: 764px;
}

.oval {
    min-width: 394px;
    min-height: 250px;
    /* height: 25%; */
    /* float: left; */
    background: #a84909;
    border-radius: 50%;
    shape-outside: ellipse();
    /* padding: 10px; */
    background-image: url('img/many_chees_players_tournament_old_black_and_white_photo_seed-0ts-1705919932_idx-01.png');
    background-position: center;
    padding: 0;
}

.hide2,
.hide3 {
    display: none;
}

.block2 {
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    margin-bottom: 200px;
    justify-content: space-evenly;
}

.block2 img {
    width: 50%;
    max-width: 472px;
    max-height: 527px;
    min-width: 355px;
    min-height: 402px;
    margin-right: 44px;
}

.block2 h1 {
    font-size: 36px;
    max-width: 704px;
    max-height: 147px;
    margin-bottom: 60px;
}

.block2 div {
    display: flex;
    flex-direction: column;
    width: 704px;
    height: 527px;
    justify-content: space-evenly;
}

.block2 table {
    width: 100%;
    max-width: 704px;
    max-height: 248px;
    border-collapse: collapse;
    margin-top: 60px;
    margin-bottom: 48px;
}

.block2 table td,
.block2 table th {
    align-items: center;
}

.block2 table td,
table th {
    border: 1px solid black;
    border-top: 0;
}

.block2 table td {
    color: var(--table_gray);
    font-size: 20px;
}

.block2 table span {
    text-decoration: 1px var(--red) line-through;
}

.block2 table tr:first-child th {
    border-top: 0;
}

.block2 table tr:last-child td {
    border-bottom: 0;
}

.block2 table tr:last-child th {
    border-bottom: 0;
}

.block2 table tr td:first-child,
.block2 table tr th:first-child {
    border-left: 0;
}

.block2 table tr td:last-child,
.block2 table tr th:last-child {
    border-right: 0;
}

.block3 {
    display: flex;
    flex-direction: column;
    gap: 54px;
    margin-bottom: 200px;
    overflow-x: hidden;
}

.plates {
    display: grid;
    background-color: red;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    height: 400px;
}

.plate {
    display: flex;
    font-size: 20px;
    font-family: "Merriweather", medium;
    background-color: green;
    padding: 20px;
    min-width: 335px;
}

.plate:nth-child(7) {
    grid-column: span 2;
}

.plate:nth-child(3) {
    grid-row: span 2;
}


.plate img {
    width: 36px;
    height: 36px;
}



.carusel {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* width: 100%; */
    margin-bottom: 140px;
}

.carusel__navbar {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    margin-bottom: 60px;
}

.carusel__navbar h1 {
    font-size: 54px;
}

.show_carusel_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.show_carusel_buttons button {
    width: 44px;
    height: 44px;
    background-image: url(img/carousel\ button\ default.png);
}

.show_carusel_buttons button:hover {
    background-image: url(img/carousel\ button\ hover.png);
}

.show_carusel_buttons button:disabled {
    background-image: url(img/carousel\ button\ disabled.png);
}

.show_carusel_buttons button:nth-child(1) {
    transform: rotateY(180deg);
}

.show_carusel_buttons p {
    width: 35px;
    line-height: 120%;
}

.carusel__items {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 0;
    /* overflow-x: hidden; */
}

.show_carusel_buttons:nth-child(1) {
    display: none;
    /* display: hidden; */
}


.profile_card {
    width: 394px;
    height: 462px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 37px 0 37px;
}


.profile_card h2 {
    font-size: 24px;

    margin-top: 28px;
    margin-bottom: 6px;
}

.profile_card p {
    color: var(--gray);
    font-size: 20px;
}

.profile_card button {
    width: 113px;
    height: 35px;
    color: var(--blue);
    font-size: 16px;
    text-align: center;
    border: 1px solid var(--blue);
    border-radius: 20px;
    background-color: transparent;

    margin-top: 20px;
}

.profile_card button:hover {
    width: 113px;
    height: 35px;
    color: var(--white);
    font-size: 16px;
    text-align: center;
    border: 1px solid var(--blue);
    border-radius: 20px;
    background-color: var(--blue);
}

.profile_card img {
    width: 320px;
    height: 320px;
}


.span_red {
    color: #F54932;
}

.small_link {
    text-transform: none;
    font-size: 20px;
}

footer {
    display: block;
    flex-direction: row;
    justify-content: center;
    background-color: var(--lightbrown);
    background-repeat: repeat;
    background-size: cover;
    background-position-x: center;

    height: 150px;
    text-align: center;
    padding: 40px 72px 72px 72px;
}

footer p {
    word-break: normal;
    /* width: 1222px;
    height: 38px; */
}



@media screen and (max-width: 850px) {

    .inner__header {
        margin: 18px 21px 132px 19px;
    }

    .inner__header>h1 {
        font-size: 36px;
        height: 80px;
        line-height: 110%;
    }

    .pmiddle {
        height: 69px;
        font-family: 'GolosText';
        text-align: left;
        font-size: 18px;
        line-height: 130%;
        margin-top: 24px;
        margin-bottom: 32px;
        word-break: normal;
    }

    main {
        width: 100vw;
        padding: 0 19px 0 21px;
    }

    .header__button_container {
        gap: 14px;
    }

    .header_button {
        text-align: center;
        width: 335px;
        height: 47px;
        padding: 18px 43px 18px 43px;
        border: 0;
    }

    .header_button:nth-child(2) {
        padding: 18px 81px 18px 81px;
    }

    .header_button:hover {
        border: 0;
    }


    .header_button p {
        width: 249px;
        line-height: 130%;
    }

    .header_button:nth-child(2) {
        color: var(--black);
        background-color: var(--white);
    }

    .block1 {
        flex-direction: column;
    }

    .oval {
        min-width: 335px;
        height: 212px;
    }

    .block1 p {
        font-size: 28px;
        width: 335px;
        height: 152px;
    }

    .hide1 {
        display: none;
    }

    .hide2,
    .hide3 {
        display: block;
    }


    .block2 h1 {
        font-size: 28px;
        width: 335px;
        height: 228px;
    }

    .block2 table {
        margin-top: 44px;
        margin-bottom: 40px;
    }

    .block3 {
        display: flex;
        flex-direction: column;
        gap: 54px;
        overflow-x: hidden;
        scroll-snap-type: x mandatory;
        margin-bottom: 120px;
    }

    .plates {
        display: grid;
        background-color: red;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0 40px;
        height: 300px;
        grid-auto-flow: column;
    }

    .plate {
        width: 335px;
        font-size: 18px;
        font-family: "Merriweather", medium;
        background-color: green;
    }

    .plate:nth-child(7),
    .plate:nth-child(6),
    .plate:nth-child(3) {
        grid-row: span 2;
    }

    .plate:nth-child(1),
    .plate:nth-child(2),
    .plate:nth-child(4),
    .plate:nth-child(5) {
        grid-row: span 1;
    }

    .pagination {
        display: flex;
        gap: 8px;
        width: 74px;
        height: 10px;
        margin: 13px 16px;
        justify-content: space-around;
    }

    .pagination input[type="radio"] {
        appearance: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ccc;
        cursor: pointer;
    }

    .pagination input[type="radio"]:checked {
        background: #000;
    }

    .carusel {
        margin-bottom: 100px;
    }

    .carusel__navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .show_carusel_buttons:nth-child(2) {
        display: none;
        /* display: hidden; */
    }

    .show_carusel_buttons:nth-child(1) {
        display: flex;
    }

    .carusel__items {
        margin-bottom: 40px;
        gap: 20px;
    }

    .profile_card {
        width: 335px;
        height: 388px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 25px 0 24px;
    }

    .profile_card img {
        width: 244px;
        height: 244px;
    }

    .profile_card h2 {
        font-size: 24px;
        white-space: nowrap;
        margin-top: 28px;
        margin-bottom: 8px;
    }

    .profile_card p {
        color: var(--gray);
        font-size: 20px;
    }

    footer {
        height: 214px;
        padding: 40px 20px 60px 20px;
    }
}