*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 0, 98);
    gap: 200px;


}

header {
    height: 700px;
    background-color: yellow;
    padding: 10px;


}

.inner-header {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    height: 1000px;
    /* padding: 100px 10px 100px 10px; */
    background-color: aquamarine;
    gap: 50px;
}

section {
    width: 100%;
    height: 100%;
    background-color: blueviolet;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 150px;
    background-color: gray;
}

.inner-footer {
    width: 100%;
    height: 100%;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.background--red {
    background-color: rgba(247, 42, 42, 0.6);
}