*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;

}

html {
    scrollbar-width: none;
    max-width: 100%;
}

body {
    /* width: 100%; */
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 0, 98);
    background-size: cover;
    /* gap: 200px; */
    gap: 8.33333rem 0;
}

header {
    height: 700px;
    background-color: yellow;
    /* padding: 10px; */


}

.inner-header {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 1000px; */
    height: 100%;
    /* padding: 100px 10px 100px 10px; */
    background-color: aquamarine;
    gap: 50px;
}

section {
    min-width: 375px;
    width: 100%;
    height: 100%;
    background-color: blueviolet;

    display: flex;
    flex-flow: row wrap;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
}


footer {
    height: 150px;
    background-color: gray;
}

.inner-footer {
    width: 100%;
    height: 100%;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.background--red {
    background-color: rgba(247, 42, 42, 0.6);
}


@media screen and (max-width: 850px) {
    .inner-header {
        width: 50%;
    }
}