*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;

}

body {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 0, 98);
    background-size: cover;

    /* gap: 200px; */
    gap: 8.33333rem 0;
}

header {
    height: 700px;
    background-color: yellow;
    padding: 10px;
}

.inner-header {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: aquamarine;
}

.inner-main {
    padding: 0 19px 0 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    min-width: 355px;
    gap: 50px;
}

section {
    /* min-width: 375px; */
    height: 100%;
    background-color: blueviolet;

    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    /* align-content: center; */
    /* align-items: center; */
    justify-content: space-around;

    gap: 64px 30px;
}

section div {
    /* min-width: 375px; */
    background-color: red;
}


footer {
    height: 150px;
    background-color: gray;
}

.inner-footer {
    width: 100%;
    height: 100%;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.background--red {
    background-color: rgba(247, 42, 42, 0.6);
}