*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;

}


html {
    min-width: 375px;
}

body {
    max-width: 100%;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 0, 98);
    background-size: cover;
    gap: 0;
}

body>*:not(:nth-child(1), :nth-child(4), :nth-child(5)) {
    margin-bottom: 8.33333rem;
}

header {
    display: flex;
    flex-direction: row;
    height: 700px;
    background-color: yellow;
    padding: 10px;

    background-image: url('../4konya/img/1920.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-header {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px;
}

marquee {
    display: inline-block;
    text-align: justify;
    overflow: hidden !important;
    padding: 10px;
    background-color: red;
}

marquee div {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 0 20px;
}

marquee p {
    padding: 10px 0 10px 0;
    white-space: nowrap;
}

.circle {
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    shape-outside: ellipse();
    background-color: aliceblue;
}

main {
    width: 100%;
    padding: 10px;
    background-color: aquamarine;
}

.inner-main {
    width: 100%;
    background-color: rgb(0, 98, 66);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 30px 64px;
    background-color: blueviolet;
}

section div {
    max-width: 100%;
    min-width: 335px;
    text-align: center;
    background-color: red;
}

section img {
    width: 100%;
}

.oval {
    width: 100%;
    border-radius: 50%;
    shape-outside: ellipse();
}


footer {
    height: 150px;
    background-color: gray;
}

.inner-footer {
    width: 100%;
    height: 100%;
    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.background--red {
    background-color: rgba(247, 42, 42, 0.6);
}