#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.header {
  width: 100%;
  height: 300px;
  background-image: url("/orig.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #FFD6AB;
}

.header>img {
  width: 100%;
  height: 100%;
}

.main {
  margin-top: 20px;
  margin-bottom: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: xx-large;
  color: rgb(0, 135, 27);
}

.board {
  display: flex;
  height: 400px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.inner-board {
  display: flex;
  justify-items: center;
}

.status {
  padding-right: 100px;
  color: rgb(0, 135, 27);
  font-size: xx-large;
}

.status li {
  font-size: medium;
}

.status li button{
  max-height: 30px;
  width: 180px;
  margin-bottom: 4px;
}

button {
  display: block;
  width: 100px;
  height: 100px;
}

.square {
  font-size: xx-large;
  border: 1px solid;
}

.footer {
  position: absolute;
  --h: 100px;
  height: var(--h);
  left: 0;
  bottom: calc(var(--h) - 32px);
  align-content: center;
  text-align: center;
  width: 100%;
  color: #F74210;
  background-color: #FFD6AB;
}
