@import "tailwindcss";


@theme {
  --color-pm: #6c5fbc;
  --color-sc: var(--color-zinc-600);
  --color-foot: var(--color-zinc-200);
  --color-pmhover: #786dbd;
  --color-pmbackdrop: #786dbd84;
  --color-hr: var(--color-zinc-300);

  --color-ylw: var(--color-yellow-500);
  --color-red: var(--color-orange-600);
  --color-grn: var(--color-green-600);

  --font-first: "Poppins", sans-serif;
  --font-second: "Inter", sans-serif;
  --font-third: "Manrope", sans-serif;

  --font-rob: "Roboto", sans-serif;
  --font-ps: "Public Sans", sans-serif;
  --font-qs: "Quicksand", sans-serif;
  --font-pjs: "Plus Jakarta Sans", sans-serif;
}


.burgerPopover:popover-open {
  @apply flex flex-col justify-center items-center w-50 min-w-25 m-auto gap-5 bg-pmbackdrop/0 backdrop-blur-lg
}

.burgerPopover::backdrop {
  @apply bg-pmbackdrop backdrop-blur-lg
}

.burgerPopover>a{
  @apply pt-4 pb-4 block content-center w-full text-center text-pm bg-white rounded-2xl border-2 border-pm
}

h1 {
  @apply text-[75px]/[120%] font-semibold -tracking-[0.04em]
}

h2 {
  @apply text-[50px]/[114%] font-bold capitalize text-center
}

h3 {
  @apply text-[43px]/[125%] font-bold sm:text-[45px]
}

h4 {
  @apply text-[30px]/[45px] font-extrabold sm:text-[53px]/[80px] xl:text-[75px]/[112px] tracking-[0%]
}

.p4 {
  @apply text-[30px]/[53px] text-slate-200/50 sm:text-[62px]/[93px] xl:text-[87px]/[131px] tracking-[0%]
}

h5 {
  @apply text-[12px]/[140%] font-semibold
}


header {
  @apply md:flex md:flex-row md:justify-center md:h-151.75 md:pr-14.5 md:pl-24.25 
  flex-col h-167.5 gap-9.25 items-center pr-5.25 pl-5.25
}

.features{
  @apply sm:flex-row sm:justify-between sm:h-55 sm:pt-12.25 sm:pb-12.25 sm:bg-[url(/svg/BG.svg)] 
  lg:pl-62.25 lg:pr-62.25 
  flex flex-col justify-around items-center h-187 w-full pl-10 pr-10 bg-no-repeat bg-cover bg-center bg-[url(/svg/BGmobile.svg)]
  text-center text-white
}


@layer utilities {
  .carouselScroll::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  .carouselScroll::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--color-pmbackdrop);
  }

  .carouselScroll::-webkit-scrollbar-thumb {
    background: var(--color-pm);
    border-radius: 100vh;
    /* border: 3px solid #f6f7ed; */
  }

  .carouselScroll::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}