<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Campground</title>
	</head>
	<body>
		<h1>Create New Campground</h1>
		<form action="/campgrounds" method="POST">
			<div>
				<label for="titlename">Titlename:</label>
				<input type="text" id="titlename" name="<%= campground[titlename] %>" />

				<label for="price">Price:</label>
				<input type="text" id="price" name="<%= campground[price] %>" />

				<label for="description">Description:</label>
				<input
					type="text"
					id="description"
					name="<%= campground[description] %>"
				/>

				<label for="location">Location:</label>
				<input type="text" id="location" name="<%= campground[location] %>" />
			</div>
		</form>
		<a href="/campgrounds"> back to all </a>
	</body>
</html>
